<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- jquery paging -->
    <script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
    <link href="{{ url_for('static', filename='detail.css') }}" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Detail</title>

    <script>

        let today = new Date().toDateString()
        let upload_time = new Date().toString()

        $(document).ready(function () {
            dog_detail()
        })

        function dog_detail() {

            $.ajax({
                type: 'GET',
                url: `/detail?file_give={{pic_file}}`,
                data: {},
                success: function (response) {
                    let data = response["dogs"]
                    for (let i = 0; i < data.length; i++) {
                        let username = data[i]['username']
                        let dog_name = data[i]['dog_name']
                        let dog_kind = data[i]['dog_kind']
                        let dog_age = data[i]['dog_age']
                        let dog_gender = data[i]['dog_gender']
                        let dog_locate = data[i]['dog_locate']
                        let file = data[i]['file']

                        let dog_html = `
                                <div class="dog_photo" id="dog_photo">
                                    <img src="../static/${file}" alt="">
                                </div>
                                <div class="content_detail">
                                    <div class="dog_detail" id="dog_name">
                                        <div class = "content_label">名前</div><span class="detail_content">${dog_name}</span>
                                    </div>
                                    <div class="dog_detail" id="dog_age">
                                        <div class = "content_label">犬種</div><span class="detail_content">${dog_kind}</span></div>
                                    <div class="dog_detail" id="dog_age">
                                        <div class = "content_label">年齢</div><span class="detail_content">${dog_age} 才</span></div>
                                    <div class="dog_detail" id="dog_gender">
                                        <div class = "content_label">性別</div><span class="detail_content">${dog_gender}</span></div>
                                    <div class="dog_detail" id="dog_location">
                                        <div class = "content_label">地域</div><span class="detail_content">${dog_locate}</span></div>
                                    <div class="dog_detail" id="dog_username">
                                         <div class = "content_label">飼い主様</div><span class="detail_content">${username}</span></div>
                                </div>`
                        $('.content').append(dog_html)
                    }
                }
            })
        }

        function post() {
            let comment = $('.posting_content').val()

            if (comment == '') {
                alert('코멘트를 입력해주세요')
                return
            }

            $.ajax({
                type: 'POST',
                url: '/posting',
                data: {
                    comment_give: comment,
                    date_give: today,
                    file_give: '{{pic_file}}',
                    upload_give: upload_time
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function sign_out() {
            //token을 버릴거야~ 라고 할떄, (자유이용권을 버린다고 할때) .removeCookie라는 jquery함수를 사용함
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/"
        }


    </script>

</head>
<body>
<nav class="navbar">
    <div class="navbar_logo">
        <i class="fas fa-icons"></i>
    </div>
    <div class="navbar_title">
        DOG WORLD
    </div>
    <div class="profile">
        <!--        <div class="profile_photo">-->
        <!--            <img src="../static/jini2.jpeg">-->
        <!--        </div>-->
        <div class="profile_name"><span class="strong_name">{{name}}</span><strong>様</strong></div>
        <div class="profile_login">
            <button id="logout_btn" onclick="sign_out()">logout</button>
        </div>
    </div>
</nav>

<section class="wrap">
    <div class="content">

    </div>
</section>

<section class="posting_box">
    <div class="posting_card">
        <div class="posting_profile">{{name}}</div>
        <textarea class="posting_content"></textarea>
        <div class="posting_posting">
            <button onclick="post()">Comment</button>
        </div>
    </div>
</section>
<section>
    {% for comment in comment_list %}
    <div class="comment">
        <div class="comment_profile" id="comment_name">{{comment['username']}}
            <span class="date">{{comment['date']}}</span></div>
        <div class="comment_content">{{comment['comment']}}</div>
    </div>
    {% endfor %}
</section>
</body>
</html>