<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='dog_friends.js') }}"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <link href="{{ url_for('static', filename='dog_friends.css') }}" rel="stylesheet">


    <title>Document</title>
    <script>
        let today = new Date().toString('%Y-%m-%d-%H-%M-%S')
        let name = '{{name}}'

        $(document).ready(function () {
            if (name == "") {
                $("#login_btn").show();
                $("#logout_btn").hide();
                $(".btn_style").hide();
                $(".profile_name").hide();

            } else {
                $("#login_btn").hide();
                $("#logout_btn").show();
                $(".btn_style").show();
            }

            dog_search()
            console.log(today)

        })

    </script>
</head>

<body>
<nav class="navbar">
    <div class="navbar_logo">
        <i class="fas fa-icons"></i>
    </div>
    <div class="navbar_title">
        DOG WORLD
    </div>
    <div class="profile">
        <div class="profile_name"><span class="strong_name">{{name}}</span><strong>様</strong></div>
        <div class="profile_login">
            <button id="login_btn" onclick="sign()">login</button>
            <button id="logout_btn" onclick="sign_out()">logout</button>
        </div>
    </div>
</nav>

<div class="wrapper">

    <!--    <label for="title" class="content_form">Title :-->
    <!--        <input type="text" id="form_title">-->
    <!--    </label>-->

    <!--    <label for="content" class="content_form">Content :-->
    <!--        <input type="text" id="form_content">-->
    <!--    </label>-->

    <div class="regist_btn">
        <select name="dog_search" id="select_search" style="width:200px" onchange="dog_search()">
            <option value="all">全地域</option>
            <option value="Hokkaido">北海道</option>
            <option value="Aomori">青森県</option>
            <option value="Iwate">岩手県</option>
            <option value="Miyagi">宮城県</option>
            <option value="Akita">秋田県</option>
            <option value="Yamagata">山形県</option>
            <option value="Fukushima">福島県</option>
            <option value="Tochigi">栃木県</option>
            <option value="Gunma">群馬県</option>
            <option value="Saitama">埼玉県</option>
            <option value="Chiba">千葉県</option>
            <option value="Tokyo">東京都</option>
            <option value="Kanagawa">神奈川県</option>
            <option value="Niigata">新潟県</option>
            <option value="Toyama">富山県</option>
            <option value="Ishikawa">石川県</option>
            <option value="Fukui">福井県</option>
            <option value="Yamanashi">山梨県</option>
            <option value="Nagano">長野県</option>
            <option value="Gifu">岐阜県</option>
            <option value="Shizuoka">静岡県</option>
            <option value="Aichi">愛知県</option>
            <option value="Mie">三重県</option>
            <option value="Shiga">滋賀県</option>
            <option value="Kyoto">京都府</option>
            <option value="Osaka">大阪府</option>
            <option value="Hyogo">兵庫県</option>
            <option value="Nara">奈良県</option>
            <option value="Wakayama">和歌山県</option>
            <option value="Tottori">鳥取県</option>
            <option value="Shimane">島根県</option>
            <option value="Okayama">岡山県</option>
            <option value="Hiroshima">広島県</option>
            <option value="Yamaguchi">山口県</option>
            <option value="Tokushima">徳島県</option>
            <option value="Kagawa">香川県</option>
            <option value="Ehime">愛媛県</option>
            <option value="Kochi">高知県</option>
            <option value="Fukuoka">福岡県</option>
            <option value="Saga">佐賀県</option>
            <option value="Nagasaki">長崎県</option>
            <option value="Kumamoto">熊本県</option>
            <option value="Oita">大分県</option>
            <option value="Miyazaki">宮崎県</option>
            <option value="Kagoshima">鹿児島県</option>
            <option value="Okinawa">沖縄県</option>
        </select>
        <button class="btn_style" onclick="$('.modal').addClass('is-active')">ペット登録</button>
    </div>

    <div class="dog_main">
        <div class="dog_list" id="dog_list">
        </div>
    </div>

    <div class="modal">
        <div class="modal-background" onclick="$('.modal').removeClass('is-active')"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close" onclick="$('.modal').removeClass('is-active')"></button>
            </header>
            <section class="modal-card-body">
                <div class="content_regist">
                    <div class="regist_dog">
                        <label class="regist_label">ペットの名前</label>
                        <input type="text" id="regist_name">
                    </div>
                    <div class="regist_dog">
                        <label class="regist_label">ペットの年齢</label>
                        <select name="regist_age">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                        </select>
                        <span>살</span>
                    </div>
                    <div class="regist_dog">
                        <label class="regist_label">犬種</label>
                        <select name="regist_kind">
                            <option value="Maltese">말티즈</option>
                            <option value="Pomeranian">포메라니안</option>
                            <option value="Bichon">비숑</option>
                            <option value="poodle">푸들</option>
                            <option value="Pekinese">페키니즈</option>
                            <option value="Toy poodle">토이푸들</option>
                        </select>
                    </div>
                    <div class="regist_dog">
                        <label class="regist_label">ペットの性別</label>
                        <input type="radio" class="dog_gender" name="regist_gender" value="male">male
                        <input type="radio" class="dog_gender" name="regist_gender" value="female">female
                    </div>

                    <div class="regist_dog">
                        <label class="regist_label">ペットの住む地域</label>
                        <select name="regist_locate">
                            <option value="Hokkaido">北海道</option>
                            <option value="Aomori">青森県</option>
                            <option value="Iwate">岩手県</option>
                            <option value="Miyagi">宮城県</option>
                            <option value="Akita">秋田県</option>
                            <option value="Yamagata">山形県</option>
                            <option value="Fukushima">福島県</option>
                            <option value="Tochigi">栃木県</option>
                            <option value="Gunma">群馬県</option>
                            <option value="Saitama">埼玉県</option>
                            <option value="Chiba">千葉県</option>
                            <option value="Tokyo">東京都</option>
                            <option value="Kanagawa">神奈川県</option>
                            <option value="Niigata">新潟県</option>
                            <option value="Toyama">富山県</option>
                            <option value="Ishikawa">石川県</option>
                            <option value="Fukui">福井県</option>
                            <option value="Yamanashi">山梨県</option>
                            <option value="Nagano">長野県</option>
                            <option value="Gifu">岐阜県</option>
                            <option value="Shizuoka">静岡県</option>
                            <option value="Aichi">愛知県</option>
                            <option value="Mie">三重県</option>
                            <option value="Shiga">滋賀県</option>
                            <option value="Kyoto">京都府</option>
                            <option value="Osaka">大阪府</option>
                            <option value="Hyogo">兵庫県</option>
                            <option value="Nara">奈良県</option>
                            <option value="Wakayama">和歌山県</option>
                            <option value="Tottori">鳥取県</option>
                            <option value="Shimane">島根県</option>
                            <option value="Okayama">岡山県</option>
                            <option value="Hiroshima">広島県</option>
                            <option value="Yamaguchi">山口県</option>
                            <option value="Tokushima">徳島県</option>
                            <option value="Kagawa">香川県</option>
                            <option value="Ehime">愛媛県</option>
                            <option value="Kochi">高知県</option>
                            <option value="Fukuoka">福岡県</option>
                            <option value="Saga">佐賀県</option>
                            <option value="Nagasaki">長崎県</option>
                            <option value="Kumamoto">熊本県</option>
                            <option value="Oita">大分県</option>
                            <option value="Miyazaki">宮崎県</option>
                            <option value="Kagoshima">鹿児島県</option>
                            <option value="Okinawa">沖縄県</option>
                        </select>
                    </div>

                    <div class="regist_dog" id="dog_pic">
                        <label class="regist_label" id="regist_img">ペットの写真</label>
                        <input type="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file"></label>
                    </div>

                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="dog_post()">Save changes</button>
                <button class="button" onclick="$('.modal').removeClass('is-active')">Cancel</button>
            </footer>
        </div>
    </div>
</div>
</body>
</html>