<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>

    <title>Document</title>


    <script>

        $(document).ready(function () {

            $("#login_id").focusin(function () {
                $(".id_icon").css('color', 'black')
            })
            $("#login_pwd").focusin(function () {
                $(".pwd_icon").css('color', 'black');
            });

            $("#login_id").focusout(function () {
                $(".id_icon").css('color', 'lightgray')
            })
            $("#login_pwd").focusout(function () {
                $(".pwd_icon").css('color', 'lightgray');
            });

            $("#sign_up_name1").focusin(function () {
                $(".name_icon").css('color', 'black')
            })
            $("#sign_up_name1").focusout(function () {
                $(".name_icon").css('color', 'lightgray')
            })
            $("#sign_up_name2").focusin(function () {
                $(".name_icon").css('color', 'black')
            })
            $("#sign_up_name2").focusout(function () {
                $(".name_icon").css('color', 'lightgray')
            })

            $("#sign_up_id").focusin(function () {
                $(".id_icon").css('color', 'black')
            })
            $("#sign_up_id").focusout(function () {
                $(".id_icon").css('color', 'lightgray')
            })
            $("#sign_up_pwd").focus(function () {
                $(".pwd_icon").css('color', 'black');
            })
            $("#sign_up_pwd").focusout(function () {
                $(".pwd_icon").css('color', 'lightgray');
            })
            $("#sign_up_pwd_2").focusin(function () {
                $(".pwd_icon_2").css('color', 'black');
            })
            $("#sign_up_pwd_2").focusout(function () {
                $(".pwd_icon_2").css('color', 'lightgray');
            })
        })

    </script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="box">
            <div class="login_button">
                <button class="login_menu">LOGIN</button>
                <button class="button_group login_sign_up" onclick="sign_btn_toggle()">SIGN-UP</button>
            </div>
            <div class="content">
                <div class="user_icon">
                        <span class="id_icon">
                            <i class="fas fa-user-alt"></i></span>
                    <input type="text" class="input_text id-danger" id="login_id" placeholder="ID">
                </div>
                <div class="help-login" id="help-id"></div>

                <div class="user_icon">
                        <span class="pwd_icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    <input type="password" class="input_text" id="login_pwd" placeholder="Password">
                </div>
                <div class="help-login" id="help-password"></div>
            </div>
            <div class="button-group">
                <button class="btn_login" onclick="btn_login()">LOGIN</button>
            </div>
        </div>

        <div class="sign_up_box is-hidden">
            <div class="content">
                <div class="user_icon">
                        <span class="name_icon">
                            <i class="fas fa-user-alt"></i></span>
                    <input type="text" class="input_text input_name" id="sign_up_name1" placeholder="성"
                           style="width : 150px;">
                    <input type="text" class="input_text input_name" id="sign_up_name2" placeholder="이름"
                           style="width : 150px; margin-left : -12px;">

                </div>
                <span class="help help-login" id="sign-help-name">

                    </span>
                <div class="user_icon">
                        <span class="id_icon">
                            <i class="fas fa-user-alt"></i></span>
                    <div class="button-container">
                        <input type="text" class="input_text id-danger" id="sign_up_id" placeholder="ID">
                        <button class="id_confirm" onclick="sign_up_check()">중복확인</button>
                    </div>
                </div>
                <span class="help help-login" id="sign-help-id">
                        아이디는 2-10자의 영문과 숫자와 일부 특수문자
                    </span>

                <div class="user_icon">
                        <span class="pwd_icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    <input type="password" class="input_text" id="sign_up_pwd" placeholder="Password">
                </div>

                <span class="help help-login" id="sign-help-pwd"></span>

                <div class="user_icon">
                        <span class="pwd_icon_2">
                            <i class="fas fa-lock"></i>
                        </span>
                    <input type="password" class="input_text" id="sign_up_pwd_2" placeholder="Password">
                </div>
                <span class="help-login" id="sign-help-pwd-2"></span>
            </div>

            <div class="sign_up_button">
                <button class="button_group sign_up" onclick="btn_sign_up()">Sign-up</button>
                <button class="button_group cancel" onclick="sign_btn_toggle()">Cancel</button>
            </div>

        </div>

    </div>
</section>
</body>
</html>